@font-face {
  src: url("../font/Montserrat-Bold.otf");
  font-family: Montserrat;
}
@font-face {
  src: url("../font/Montserrat-Regular.otf");
  font-family: Regular;
}
body {
  margin: 0%;
  padding: 0%;
}
ul {
  padding-left: 0%;
}
body {
  font-family: Montserrat;
}
li {
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
  display: block;
}
.container {
  margin: auto;
  width: 1400px;
}
.date {
  font-size: 13px;
  color: #a2a3a4;
  font-family: Regular;
  align-content: center;
}
.date img {
  width: 13px;
  padding-right: 5px;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-item {
  color: black;
  font-size: 14px;
  font-weight: 700;
  margin-right: 20px;
}
.header-right {
  font-size: 12px;
  margin-right: 10px;
  border-radius: 60px;
  font-family: Regular;
  box-sizing: border-box;
  padding: 4px 0px 6px 15px;
  background-color: rgb(236, 236, 236);
  text-align: center;
}
.header-right img {
  padding-right: 13px;
}
.header-right div span {
  border-radius: 260px;
  padding: 10px 8px 6px 8px;
  background-color: white;
}

/* CITY */
.city {
  font-size: 11px;
  font-family: Regular;
  font-weight: 500;
  color: rgb(80, 80, 80);
  background-color: rgb(236, 236, 236);
}
.city-com {
  display: flex;
  height: 40px;
  align-items: center;
}
.city-item {
  padding: 0px 10px;
  border-left: 1px solid;
}
.city-hudud {
  font-weight: 600;
  color: white;
  width: 60px;
  padding: 13px;
  text-align: center;
  border-left: none;
  background-color: rgb(0, 26, 102);
  border-radius: 0 999px 999px 0px;
}
.city-hudud + li {
  border-left: none;
}

/* NEWS */
.news {
  display: flex;
}
.news1 {
  width: 75%;
  height: 100%;
  margin-right: 10px;
  box-sizing: border-box;
}
.news2 {
  margin-left: 10px;
  width: 25%;
}
.news1-com {
  display: flex;
  background-color: #eff2f8;
}

.news1-item {
  padding: 25px;
}
.news1-item p {
  font-size: 14px;
  line-height: 1.7;
  font-family: Regular;
}

.news1-float a {
  width: 50%;
  height: 150px;
  align-items: center;
  box-sizing: border-box;
}
.news1-float {
  position: relative;
  display: flex;
}
.news1-text {
  padding: 0px 10px 0px 10px;
  border-bottom: 1px solid #cecece;
  margin: 0px 15px;
}
.news1-text h4 {
  font-size: 14px;
  padding: 0px;
  margin-top: 5px;
}
.news1-news2 {
  display: flex;
}
.news2-title {
  margin-top: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
.news2-border {
  margin-right: 10px;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  border: 4px solid rgb(0, 0, 104);
}
.news1-border {
  margin-right: 10px;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  border: 4px solid rgb(0, 0, 104);
}
.news2-item {
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #a2a3a4;
}
.news2-item p {
  font-size: 14px;
  font-weight: 600;
  font-family: Regular;
  color: black;
  margin-top: 10px;
}
.news2-more {
  display: flex;
  margin-top: 50px;
  width: 98%;
  border-left: 2px solid blue;
  background-color: #f0f0f0;
  justify-content: space-around;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.news2-more img {
  width: 24px;
}
/* Muharrir */
.muharrir-more {
  display: flex;
  justify-content: space-between;
}
.muharrir-more a {
  display: block;
  font-weight: 400;
  padding-right: 25px;
  font-family: Regular;
  font-size: 14px;
  text-decoration: underline;
}
.m-com {
  display: flex;
}
.m-item {
  width: 33.33%;
  margin: 10px 0px;
}
.m-item span {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}
.m-item a {
  display: block;
  width: 95%;
}

/* Dolzarb */
.d-title {
  margin: 20px 0px;
}
.d-news1 a {
  display: block;
  padding-right: 25px;
}
.d-news1 p {
  font-family: Regular;
  font-size: 14px;
  line-height: 2;
  font-weight: 500;
}
.d-news2 img {
  width: 325px;
  height: 203px;
}
.d-news2 a {
  display: block;
  width: 93%;
}

/* INTERVYU */
.intervyu {
  padding: 10px 0px;
  width: 100%;
  margin-top: 20px;
  background-color: #f0f0f0;
}
.inter {
  display: flex;
  justify-content: space-between;
}
.inter h5 a {
  display: flex;
  color: blue;
}
.inter h5 a img {
  padding-left: 5px;
  margin-right: 10px;
}
.intervyu-com {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.intervyu-item img {
  right: 40px;
  bottom: 20px;
  box-shadow: 10px 10px #0d1b8c;
  position: relative;
}
.intervyu-item {
  width: 23%;
  margin: 0px 10px;
  background-color: white;
}
.intervyu-item a {
  padding: 0px 20px;
}

/* SURISHTIRUV */
.surish {
  margin-top: 20px;
  padding-top: 20px;
}
.surish-title {
  padding-bottom: 30px;
}
.surish1 {
  margin-top: 20px;
  margin-right: 30px;
  background-color: #f0f0f0;
}
.surish1 a img {
  position: relative;
  bottom: 20px;
  box-shadow: 20px 20px white;
}
.surish1 a h3 {
  padding: 0px 110px 30px 30px;
}
.surish2-item a {
  display: flex;
}
.surish2-item a h4 {
  padding: 0px 20px;
}
.surish2-item {
  margin: 20px 0px;
}

/* MAQOLALAR */
.maqola-item {
  margin-bottom: 30px;
}
.maqola-item p {
  font-family: Regular;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8;
}
.maqola-item h4 {
  padding-right: 20px;
}

/* HAMKOR */
.hamkor {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #f0f0f0;
}
.hamkor-title {
  width: 200px;
}
.hamkor-com {
  display: flex;
  justify-content: space-between;
}
.hamkor-item {
  width: 100%;
  margin: 0px 10px;
  background-color: white;
}
.hamkor-item img {
  z-index: -1;
  width: 100%;
}
.hamkor-item h4 {
  padding: 0px 20px;
}

/* FOOTER */
.footer {
  width: 100%;
  padding-top: 5px;
  background-color: #1c2680;
}
.footer-com {
  display: flex;
  justify-content: flex-start;
  color: white;
  align-items: center;
}
.footer-item {
  margin-right: 40px;
}
.footer-com img {
  display: flex;
  margin-left: 600px;
}
.footer-info {
  background-color: #17206a;
}
.footer-f {
  align-items: center;
}
.footer-text {
  font-family: Regular;
  font-size: 13px;
  color: white;
  font-weight: 300;
  line-height: 1.5;
}
.ulanish-ul {
  display: flex;
  justify-content: space-evenly;
}
